<h2>All Articles</h2>

<%= form_tag articles_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    
    <button type="submit" class="btn-danger btn btn-medium">Search</button>

                
                
                
  </p>
<% end %>



<% content_for :head, auto_discovery_link_tag(:atom, articles_url(format: "atom")) %>

<%= link_to image_tag("/assets/img/social/Feed.png"), "http://feeds.feedburner.com/5280webdesign" %>



<br></br>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<%= will_paginate %> 

<% if logged_in? %>
 <%= link_to "New Article", new_article_path, :class => "new_article" %>
<% end %>