<%= form_for(@project, :html => {:multipart => true}) do |f| %>
  <ul>
  <% @project.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :developer %><br />
    <%= f.text_field :author_name %>
  </p>

    
  <p>
    <%= f.label :website_name %><br />
    <%= f.text_field :website_name %>
  </p>
   
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <% if @project.image_file_name %>
      <%= image_tag @project.image.url %><br/>
    <% end %>
    <%= f.label :image, "Attach a New Image" %><br />
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>