<!DOCTYPE html>
<html>
<head>
  <title>5280 Web Design</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "http://5280webdesign.com") %>
  <%= render 'layouts/header' %>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "bda30dd9-2029-467c-96ab-e730cef9b5b0", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  
</head>
<body>
  <div id="container">
    <%= render 'layouts/navigation' %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


    <div id="content">
      <%= yield %>
      <%= render 'layouts/footer' %>
      <hr>
      <h6>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.username}" %>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %>
        <% end %>
      </h6>
    </div>

  </div>
</body>
</html>
